* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgb(52, 180, 255), rgb(22, 89, 145));
    color: white;
    font-family: sans-serif;
}

.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature  {
    flex-direction: column;
}

.degree-section {
    display: flex;
    justify-content: center;
    align-items: center;
}


